:root {
    --text-color: rgb(0, 0, 0);
    --text-color-secondary:white; 
    --highlight-color: #FF877D;
    --highlight-color-transparent: #ff887dbd;
    --become-member:#FFD37E;
  }

@font-face {
font-family: 'Impact';
src: url('../assets/fonts/impact.ttf') format('truetype');
}

@mixin link{
    font-family: 'Oswald';
    font-size: 1rem;
    line-height: 20px;
    text-transform: uppercase;
    text-align: center;
    &:hover{
    background-color: var(--highlight-color);
    color: var(--text-color-secondary);
        &.wip {
            background-color: var(--text-color);
        }
    }
}
@mixin checkerboard($size,$color){
    $double-size: $size*2;
    background-image:
    linear-gradient(45deg, $color 25%, transparent 25%), 
    linear-gradient(135deg, $color 25%, transparent 25%),
    linear-gradient(45deg, transparent 75%, $color 75%),
    linear-gradient(135deg, transparent 75%, $color 75%);
background-size:$double-size $double-size;
background-position:0 0, $size 0, $size $size, 0px $size;
}
@mixin max-width{
    max-width: 1100px;
    margin:auto;
    padding: 0px 10px;
}
@mixin scroll-box{
    overflow: scroll;
    scrollbar-width: none;
}
// &::-webkit-scrollbar {
//     display: none;
// }

@mixin img-container{
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

*{
    padding:0px;
    margin:0px;
    box-sizing: border-box;    
    
}
body{
background-image: url("../assets/background/home.png");
background-size: cover;
background-repeat: no-repeat;
background-position: center;
height: 100dvh;
color: var(--text-color);
display:flex;
flex-direction: column;
}

main{
    margin-top: 30px;
    @include scroll-box;
}
footer{
    min-height:10px;

}
a{
color: var(--text-color);
text-decoration: none;
}
p{
    white-space: pre-line;
}
.become-member{
    @include link;
    padding : 0.5rem 2rem ;
    background-color: #FFD37E;

}
.wip{
    text-decoration: line-through;
}
.title-section{
    @include max-width;
    
    .top-container{
        display:flex;
        align-items: center;
        justify-content: space-between;

        .section-title{
            font-family: 'Impact';

        }
        h1.section-title{
            font-size: 3rem;
        }
        h2.section-title{
            font-size: 2rem;
        }
    }
    .line{
        @include checkerboard(8px, var(--text-color));
        height:16px;
        margin-top: 0.5rem;
    }

}

.event{
    @include max-width;
    display:flex;
    flex-direction: row;
    font-family: 'Oswald';
    align-items: center;
    height: 120px;
    padding:0px 10px;
    
    .date{
        font-size: 2rem;
        line-height: 1.8rem;
        font-weight: 700;
        width:15%;
    }
    .type{
        width: 15%;
        text-align: center;
        margin:0px 50px;
        font-size: 20px;
        text-transform: uppercase;
        background-color: var(--text-color);
        color: var(--text-color-secondary);
    }
    .name{
        flex-grow: 1;
        font-size:24px;
        line-height: 40px;
    }

}

.date-mini{
    .first-line {
        display: flex;
        flex-direction: row;
        justify-content: end;
    }

    .arrow {
        height: 1px;
        width: 30px;
        align-self: center;
        margin: 5px;
        position: relative;
        background-color: var(--text-color);

      
        &:before,
        &:after {
          content: "";
          background: var(--text-color);
          position: absolute;
          height: 1px;
          width: 4px;
        }
      
        &:before {
          right: -1px;
          bottom: -1px;
          transform: rotate(-35deg);
        }
      
        &:after {
          right: -1px;
          top: -1px;
          transform: rotate(35deg);
        }
      }
}
.date-mini div{
    text-align: right;
    font-family: "oswald";
}

.date{
    .first-line {
        display: flex;
        flex-direction: row;
        justify-content: end;
    }
    margin-right: 2rem;
    font-family:"Oswald";
    font-weight: 800;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    div{
      font-family: "Oswald";
      font-weight:900;
      font-size:2.2rem;
      text-align: right;
    }
  
    .arrow {
      height: 2px;
      width: 50px;
      align-self: center;
      margin: 15px;
      position: relative;
      background-color: var(--text-color);
  
    
      &:before,
      &:after {
        content: "";
        background: var(--text-color);
        position: absolute;
        height: 2px;
        width: 6px;
      }
    
      &:before {
        right: -1px;
        bottom: -1px;
        transform: rotate(-35deg);
      }
    
      &:after {
        right: -1px;
        top: -1px;
        transform: rotate(35deg);
      }
    }
  }
