@use './_components';
body{
    background-image: url("../assets/background/agenda.png");
}

.background-lines{
    background-image:url("../assets/background/line-agenda.svg");
}

.link{
    display: block;
}
.link:hover{
    background-color: var(--highlight-color-transparent);
    color: var(--text-color-secondary);
}