@use './components';
body{
    background-image: url("../assets/background/agenda.png");

    }



main{
    @include components.scroll-box;
    height:70vh;
}

.link{
    display: block;
}
.link:hover{
    background-color: var(--highlight-color-transparent);
    color: var(--text-color-secondary);
}