@use './components';

.img-container{
    @include components.img-container;
    width:100%;
    min-height:215px;
}
.checkerboard{
    @include components.checkerboard(8px, var(--text-color-secondary));
    height:16px;
    width:100%;
}
main{
    @include components.max-width;
    @include components.scroll-box;
    height: 77dvh;
   

    .main-container{
        display: flex;

    .main-content{
        max-width:66%;
        display: flex;
        flex-direction: column;
        align-items: center;

    }

        
    }
    aside{
        display: flex;
        flex-direction: column;
        margin-left:80px;
        align-items:end ;
        
        h2{
            font-family: "Impact";
            font-size: 20px;
            text-transform: uppercase;
            margin-top: 1rem;
        }
        h3{
            font-family: "Oswald";
            font-size:1rem;
            text-transform: uppercase;
            margin-top: 2rem;
        }
        p{
            font-family: "Oswald";
            font-size:14px;
            margin-top: 0.5rem;
        }

        .become-member{
            width:175px;
        }
        .programation{
            text-align: right;
        }
        .price{
            text-align: right;
        }
        
    }
}

.safe-space{
    padding-top: 25px;
    border-top: solid rgba(255, 255, 255, 0.493) 1px;
}




