@use './components';

body{
    display:flex;
    flex-direction: column;
}
.main-container{
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;


}
.bottom-container{
    justify-self: flex-end;
}

