@use './components';

body{
    background-image: url("../assets/background/home.png");
}
.background-lines{
    background-image: url("../assets/background/line-home.svg");

}
main{
    display:flex;
    flex-direction: column;
    flex-grow: 1;

}

.main-container{
    width:520px;
    margin: auto;
    @media (max-width:650px){
        width:80%;
    }
    flex-grow:1;
    display: flex;
    align-items: center;

}

.bottom-container{
    justify-self: flex-end;

}
.link{
    display: block;
}
.link:hover{
    background-color: var(--highlight-color-transparent);
    color: var(--text-color-secondary);
}

