@use './components';
body{
    background-image: url("../assets/background/residencies.png")
}
  
.background-lines{
background-image:url("../assets/background/line-residencies.svg");
}

.residencies-list{
    @include components.scroll-box;
    @include components.max-width;
    height:70vh;
    display: flex;
    flex-wrap: wrap;

}

.filter-section{
    display:flex;
    justify-content: center;
    margin: 25px 0px;
    .cross{
        font-family: "impact";
        align-items: center;
        padding: 5px;
        background-color: var(--text-color);
        color: var(--text-color-secondary);
        display:none;
    }
    .cross:hover{
        background-color: var(--highlight-color);
        cursor: pointer;
        color: var(--text-color-secondary);
    }

    .filter-btn{
        height:30px;
        width: 136px;
        text-align: center;
        font-family: "Oswald";
        line-height: 30px;
        text-transform: uppercase;
  
    }
    .selected{
        background-color: var(--become-member);
    }
    .unselected{
        background-color: var(--text-color-secondary);
    }
    .filter-btn:hover{
        background-color: var(--become-member);
        cursor: pointer;
        color: var(--text-color-secondary);
    }

}

.residency{
    width:260px;
    height:300px;
    margin: 5px;
    padding-top:10px;
    background-color: var(--text-color-secondary);
    align-items: center;
    display: block;

    .img-container{
        width: 220px;
        height: 220px;
        margin:auto;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
    }
    .checkerboard{
        @include components.checkerboard(4px, var(--text-color-secondary));
        width:220px;
        height: 8px;
    }
    .text-container{
        padding:5px 10px 0px 10px;
        display: flex;
        .titles{
            flex-grow: 1;
            h2{
                font-family: "Impact";
                font-weight: 600;
                font-size:1.2rem;
            }
            h3{
                font-family: "Oswald";
                font-weight: 400;
                font-size: 1rem;
            }
        }

        

    }




}