@use './components';


body{
    background-image: url("../assets/background/residencies.png")
}
  
.background-lines{
background-image:url("../assets/background/line-residencies.svg");
}

.residencies-list{
    @include components.scroll-box;
    @include components.max-width;



    .wrapper{
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-start;
        margin:0 auto;
        @media (max-width:1079px) and (min-width:810px){
            max-width: 810px;
        }
        @media (max-width:809px) and (min-width:540px){
            max-width: 540px;
        }
        @media (max-width:539px){
            max-width:270px;
        } 
    }

}

.filter-section{
    display:flex;
    justify-content: center;
    margin: 25px 0px;
    padding: 0px 10px;


    div{
        height:30px;
        max-width: 136px;
        flex-grow:1;
        text-align: center;
        font-family: "Oswald";
        line-height: 30px;
        text-transform: uppercase;
        &:hover{
            background-color: var(--become-member);
            cursor: pointer;
            color: var(--text-color-secondary);

        }
        &:active{
            color:var(--text-color);
        }
    }
    .selected{
        background-color: var(--become-member);
        &:hover{
            color: var(--text-color);
        }
    }
    .unselected{
        background-color: var(--text-color-secondary);
    }

}

.residency{

    margin: 5px;
    padding: 5px;
    background-color: var(--text-color-secondary);
    align-items: center;
    display: inline;

    .img-container{
        width: 220px;
        height: 220px;
        margin:auto;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
    }
    .checkerboard{
        @include components.checkerboard(4px, var(--text-color-secondary));
        width:220px;
        height: 8px;
    }
    .text-container{
        padding:5px 10px 0px 10px;
        display: flex;
        .titles{
            flex-grow: 1;
            h2{
                font-family: "Impact";
                font-weight: 600;
                font-size:1.2rem;
            }
            h3{
                font-family: "Oswald";
                font-weight: 400;
                font-size: 1rem;
            }
        }

        

    }




}