@use './components';

body{
  background-image: url("../assets/background/residency.png");
}

.background-lines{
  background-image:url("../assets/background/line-residency.svg");
}

.title-container{
    display:flex;

    @media (max-width:768px){
      flex-direction: column;
    }
}

.titles{
  flex-grow: 1;
}
  h1{
    font-size: 3rem;
    font-family: 'Impact';
    @media (max-width:768px){
      font-size: 2rem;
    }
  }
  h2{
      font-family: "Oswald";
      font-weight: 200;
      font-size:2rem;
  }


.socials{
  display: flex;
  flex-direction: row;
  align-items:flex-end;

  a{
    display:inline-block;
    width: 20px;
    height: 20px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    margin: 0px 5px;

  }


  .siteweb{
    background-image: url("/assets/icon/globe-solid.svg");
  }
  .fb{
    background-image: url("/assets/icon/facebook.svg");
  }
  .insta{
    background-image: url("/assets/icon/instagram.svg");
  }
  .youtube{
    background-image: url("/assets/icon/youtube.svg");
  }
}



@media (max-width:768px){
  .date{
    justify-content: center;
    width:80px;
    margin: 0px 10px;

    div{
      height:20px
    }
    
    .arrow{    
        margin-left: 5px;
    }
    div{
        font-size: 20px;
        line-height: 18px;
    }
  }
}
.mobile{

  .second-line{
    display:flex;
    flex-direction: row;
  }
}

.main-content{
  @include components.max-width;
  .info{
    display:flex;
    justify-content: space-between;
    margin: 50px 0px;
    @media (max-width:768px){
      flex-direction: column-reverse;

    }

    aside{
      min-width: 20%;
      margin-right: 80px;
      @media (max-width:768px){
        display: flex;
        justify-content: space-around;
        margin: 50px 0 0 0;
      }


      h3{
        text-transform: uppercase;
        font-weight: 400;
      }
      a{
        font-family: "oswald";
        font-size:1rem;
        margin: 1rem 0px;
        display:block;
      }
      .residency-artists{
        width:100%;
        @media(max-width:768px){
          width:50%
        }
        font-family: "Oswald";
        font-size: 1rem;
        margin-bottom: 50px;
        padding:0px 8px;
      }
      .residency-events{
        background-color: var(--text-color);
        color: var(--text-color-secondary);
        padding:8px;
        h3{
          font-family: "Impact";
        }
        a{
          color: var(--text-color-secondary);
        }
      }

    }
  }
}
.pictures{
  height: 1100px;
  display:flex;
  flex-direction: row;
  margin-top: 20px;
  @media (max-width:768px){
    flex-direction:column;
  }
  .img-container{
    @include components.img-container;
    margin-bottom: 10px;
    overflow: hidden;
  }
  .left-column{
    width:33%;
    height:100%;
    margin-right: 10px;
    .img-container{
      width:100%;
      height:33%;
    }
  }  
  .right-column{
    width:66%;
    height:100%;
    .img-container{
      width:100%;
      height:50%;
    }
  }
}
@media (max-width:768px){
  .pictures{
    height:auto;

  .left-column, .right-column{
    display: flex;
    flex-direction: column;
    width:100%;

    margin:0px 0px 0px 0px;
  }
  .img-container{
    display:block;
    min-height: 90vw;
    margin-bottom: 10px;
  }
  .left-column{
flex-grow: 1;
  }
  .right-column{
flex-grow:1;
  }
}
}
