@font-face {
    font-family: 'impact'; /*a name to be used later*/
    src: url('../assets/fonts/impact.ttf') format('truetype');
}

*{
    padding:0px;
    margin:0px;
    box-sizing: border-box;
    
}
header{

    background-color: rgb(60, 60, 71);
    padding:10px 0px;
    color:white;
    a{
        color: white;
        text-decoration: none;
    }
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin:0px 100px;
    font-family: 'impact';
    font-size: 16px;
    line-height: 20px;
    text-transform: uppercase;
}

.switch-container{
    display:flex;
    justify-content: center;
    align-items: center;
    margin-top:30px;

    .label{
        font-family: 'knewave';
        text-transform: uppercase;
        font-size: 16px;
        line-height: 20px;
    }

    .switch {
        position: relative;
        display: inline-block;
        width: 44px;
        height: 25px;
      }
      
      /* Hide default HTML checkbox */
      .switch input {
        opacity: 0;
        width: 0;
        height: 0;
      }
      
      /* The slider */
      .slider {
        position: absolute;
        cursor: pointer;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        -webkit-transition: .4s;
        transition: .4s;
        border: 4px solid white;
      }
      
      .slider:before {
        position: absolute;
        content: "";
        height: 15px;
        width: 15px;
        left: 2px;
        bottom: 1px;
        background-color: white;
        -webkit-transition: .4s;
        transition: .4s;
      }
      
      
      input:checked + .slider:before {
        -webkit-transform: translateX(17px);
        -ms-transform: translateX(17px);
        transform: translateX(17px);
      }
      
      /* Rounded sliders */
      .slider.round {
        border-radius: 13px;
      }
      
      .slider.round:before {
        border-radius: 50%;
      }
}

