<form action="/admin/artists-add" method="POST">
    <label for="name">Name</label>
    <input type="text" id="name" name="name" required>
  
    <label for="project_name">Project Name</label>
    <input type="text" id="project_name" name="project_name" required>

    <label for="email">Mail</label>
    <input type="text" id="email" name="email" required>
  
    <label for="art_fields">Art Fields</label>
    <input type="text" id="art_fields" name="art_fields" required>
  
    <label for="short_description">Short Description</label>
    <input type="text" id="short_description" name="short_description" required>
  
    <label for="long_description">Long Description</label>
    <textarea id="long_description" name="long_description" required></textarea>
  
    <label for="thumbnail">Thumbnail</label>
    <input type="text" id="thumbnail" name="thumbnail" required>
  
    <label for="picture">Picture</label>
    <input type="text" id="picture" name="picture" required>
  
    <label for="facebook">Facebook</label>
    <input type="text" id="facebook" name="facebook" required>
  
    <label for="instagram">Instagram</label>
    <input type="text" id="instagram" name="instagram" required>
  
    <label for="website">Website</label>
    <input type="text" id="website" name="website" required>
  
    <button> Ajouter artiste</button>
  </form>
  