<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Start</th>
      <th>End</th>
    </tr>
  </thead>
  <tbody>
    <% if (events.length > 0) { %> 
      <% events.sort((a, b) => b.date_start - a.date_start).forEach(event => { %>
        <tr>
          <td><%= event.event_name %></td>
          <td>
            <%= event.date_start.toLocaleDateString('fr-FR', { day: '2-digit', month: '2-digit', year: 'numeric' }) %>
          </td>
          <td>
            <%= event.date_end.toLocaleDateString('fr-FR', { day: '2-digit', month: '2-digit', year: 'numeric' }) %>
          </td>
          <td>
            <button>Modifier</button>
            <button>Supprimer</button>
          </td>
        </tr>
      <% }); %> 
    <% } else { %>
      <tr>
        <td colspan="2">Aucun événement disponible</td>
      </tr>
    <% } %>
  </tbody>
  
</table>
