<form action="/admin/events-add" method="POST">
    <label for="name">Name</label>
    <input type="text" id="name" name="name" required>
  
    <label for="date">Date</label>
    <input type="text" id="date" name="date" required>

    <label for="hour_start">Starting hour</label>
    <input type="text" id="hour_start" name="hour_start" required>
  
    <label for="hour_end">Ending hour</label>
    <input type="text" id="hour_end" name="hour_end" required>
  
    <label for="short_description">Short Description</label>
    <input type="text" id="short_description" name="short_description" required>
  
    <label for="long_description">Long Description</label>
    <textarea id="long_description" name="long_description" required></textarea>
  
    <label for="picture">Picture</label>
    <input type="text" id="picture" name="picture" required>
  
    <label for="price">Price</label>
    <input type="text" id="price" name="price" required>
  
    <label for="artists">Artists</label>
    <input type="text" id="artists" name="artists" required>

    <button> Ajouter event</button>
  </form>
  