<h1>Mode d'emploi</h1>
<hr/>
<h2>Page</h2>
<p>Cliquez sur n'importe quelle page pour modifier son contenu</p>

<h2>Artiste</h2>
<p>Les listes vous permettent de modifier ou supprimer un artiste</p>
<p>Vous pouvez ajouter un artiste à votre base de données en cliquant sur "créer un artiste"</p>

<h2>Event</h2>
<p>Les listes vous permettent de modifier ou supprimer un event</p>
<p>Vous pouvez ajouter un event à votre base de données en cliquant sur "créer un event"</p>