<h1>Mode d'emploi</h1>
<hr/>
<h2>Contenus</h2>
<p>Cliquez sur n'importe quel contenu pour modifier son contenu.</p>

<h2>Résidences</h2>
<p>Les listes vous permettent de modifier ou supprimer une résidence.</p>
<p>Vous pouvez ajouter une résidence à votre base de données en cliquant sur "créer une résidence".</p>

<h2>Events</h2>
<p>Les listes vous permettent de modifier ou supprimer un event.</p>
<p>Vous pouvez ajouter un event à votre base de données en cliquant sur "créer un event".</p>