<table>
  <thead>
    <tr>
      <th>Projet</th>
      <th>Collectif</th>
      <th>Action</th>
    </tr>
  </thead>
  <tbody>
    <% if (residencies.length > 0) { %> <% residencies.forEach(residency => { %>
    <tr>
      <td><a href="/residency/<%= residency.id %>"><%= residency.residency_name %></a></td>
      <td><%= residency.collective_name %></td>
      <td><button>Modifier</button><button>Supprimer</button></td>
    </tr>
    <% }); %> <% } else { %>
    <tr>
      <td colspan="3">No residencies available</td>
    </tr>
    <% } %>
  </tbody>
</table>
