<h2>Safe Place >>> (Modification)</h2>

<form action="/admin/safe-content" method="POST">

  <label for="text">Description</label>
  <textarea id="text" name="text" required><%= data.text %></textarea>

  <button class="custom-button"> Mettre à jour</button>
</form>
