* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  overflow-x: hidden;
}

body {
  background-color: #01052A;
  color: #dedede;
  font-family: "Inconsolata", monospace;
}

::selection {
  background-color: #EE6767;
  color: #01052A;
}

.container-display h2 {
  font-size: x-large;
  margin-bottom: 20px;
  margin-top: 20px;
  color: #EE6767
}

.container-display span {
  margin-bottom: 20px;
  margin-top: 0px;
  color: #EE6767
}

/* ------------------------ */
.container-title {
  display: flex;
  height: 10vh;
  align-items: center;
  justify-content: center;
}

.container-title > a > h1 {
  border: 2px solid #dedede;
  padding: 10px 20px;
  letter-spacing: 0.4em;
}

.container-title > a:link,
.container-title > a:visited {
  cursor: pointer;
  color: #dedede;
  text-decoration: none;
}
.action{
  display: flex;
  flex-direction: column;
}

.button {
  background-color: #EE6767;
  
  margin: 2px;
  padding-left: 3px;
  padding-right: 3px;
}

.button:hover{
  background-color: #ee6767aa;
}



.action .button[href^="/admin/residencies-modification"] {
  color: #272727;
}

.action form[action^="/admin/residency-delete"] .button {
  color: #272727;
}

.action .button[href^="/admin/events-modification"] {
  color: #272727;
}

.action form[action^="/admin/event-delete"] .button {
  color: #272727;
}


.img-input {
  color: #EE6767;
}

.img-form > label{
  font-weight: bolder;
  
}

.logout{
  position: absolute;
  left: 15px;
  top: 15px;
  text-decoration: none;
  background-color: #3c59757b !important;
  border: 1px solid #3C5975 !important;
  color: #dedede !important;
  transition: background-color 0.3s ease; 
}

.logout:hover{
  position: absolute;
  left: 15px;
  top: 15px;
  text-decoration: none;
  background-color: #3C5975 !important;
  border: 1px solid #3C5975 !important;
  color: #dedede !important;
}

.custom-button {

  background-color: #FEF4BB; 
  color: #01052A ;
  border: none; 
  padding: 10px 20px; 
  border-radius: 0px;
  cursor: pointer; 
  transition: background-color 0.3s ease; 
}

.custom-button:hover {
  background-color: #fbcc7ab5; 
}

/* ------------------------ */
.menu {
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 50px;
  width: 15vw;
  margin-top: 10px;
  margin-left: 10px;
  border: 1px solid #dedede;
}

.submenu > a:link,
.submenu > a:visited {
  cursor: pointer;
  color: #dedede;
  padding: 10px 0px;
  padding-left: 10px;
  display: flex;
  flex-direction: column;
  text-decoration: none;
}

.submenu a:hover {
  color: #272727;
  background-color: #EE6767;
}

/* ------------------------ */
.container-display {
  position: absolute;
  top: 12vh;
  left: 50%;
  width: 50vw;
  transform: translateX(-50%);
  text-align: space-between;
  gap: 20px;
  padding: 8px;
  border: #dedede solid 0.25px;
}

.container-display section {
  display: flex;
  gap: 20px;
  flex-direction: column;
  justify-content: center;
  padding: 5px;
}

.container-display th {
  background-color: #01052A;
  text-transform: uppercase;
  border-bottom: #dedede 2px solid;
  text-align: left;
  font-size: larger;
}

.container-display td {
  background-color: #01052A;
  border-bottom: #dedede 1px solid;
  text-align: left;
  padding-top: 1vh;
  padding-bottom: 1vh;
}

.container-display form {
  display: flex;
  flex-direction: column;
}

.container-display form > label {
  margin-bottom: 5px;
}

.container-display form > input {
  margin-bottom: 25px;
  background-color: #dedede;
}

.container-display form > textarea {
  margin-bottom: 25px;
  background-color: #dedede;
  font-size: large;
  max-width: 100%;
  min-width: 100%;
  height: 20vh;
}

.container-display a:link,
.container-display a:visited {
  cursor: pointer;
  color: #dedede;
  padding: 10px 0px;
  padding-left: 10px;
  display: flex;
  flex-direction: column;
  text-decoration: none;
}

body > img {
  position: absolute;
  width: auto;
  height: 50vh;
  opacity: 0.3;
  right: -80px;
  top: 20vh;
}
