:root {
  --text-color: rgb(0, 0, 0);
  --text-color-secondary:white;
  --highlight-color: #FF877D;
  --highlight-color-transparent: #ff887dbd;
  --become-member:#FFD37E;
}

@font-face {
  font-family: "Impact";
  src: url("../assets/fonts/impact.ttf") format("truetype");
}
* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

body {
  background-image: url("../assets/background/home.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 100dvh;
  color: var(--text-color);
  display: flex;
  flex-direction: column;
}

main {
  margin-top: 30px;
  overflow: scroll;
  scrollbar-width: none;
}

footer {
  min-height: 10px;
}

a {
  color: var(--text-color);
  text-decoration: none;
}

p {
  white-space: pre-line;
}

.become-member {
  font-family: "Oswald";
  font-size: 1rem;
  line-height: 20px;
  text-transform: uppercase;
  text-align: center;
  padding: 0.5rem 2rem;
  background-color: #FFD37E;
}
.become-member:hover {
  background-color: var(--highlight-color);
  color: var(--text-color-secondary);
}
.become-member:hover.wip {
  background-color: var(--text-color);
}

.wip {
  text-decoration: line-through;
}

.title-section {
  max-width: 1100px;
  margin: auto;
  padding: 0px 10px;
}
.title-section .top-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.title-section .top-container .section-title {
  font-family: "Impact";
}
.title-section .top-container h1.section-title {
  font-size: 3rem;
}
.title-section .top-container h2.section-title {
  font-size: 2rem;
}
.title-section .line {
  background-image: linear-gradient(45deg, var(--text-color) 25%, transparent 25%), linear-gradient(135deg, var(--text-color) 25%, transparent 25%), linear-gradient(45deg, transparent 75%, var(--text-color) 75%), linear-gradient(135deg, transparent 75%, var(--text-color) 75%);
  background-size: 16px 16px;
  background-position: 0 0, 8px 0, 8px 8px, 0px 8px;
  height: 16px;
  margin-top: 0.5rem;
}

.event {
  max-width: 1100px;
  margin: auto;
  padding: 0px 10px;
  display: flex;
  flex-direction: row;
  font-family: "Oswald";
  align-items: center;
  height: 120px;
  padding: 0px 10px;
}
.event .date {
  font-size: 2rem;
  line-height: 1.8rem;
  font-weight: 700;
  width: 15%;
}
.event .type {
  width: 15%;
  text-align: center;
  margin: 0px 50px;
  font-size: 20px;
  text-transform: uppercase;
  background-color: var(--text-color);
  color: var(--text-color-secondary);
}
.event .name {
  flex-grow: 1;
  font-size: 24px;
  line-height: 40px;
}

.date-mini .first-line {
  display: flex;
  flex-direction: row;
  justify-content: end;
}
.date-mini .arrow {
  height: 1px;
  width: 30px;
  align-self: center;
  margin: 5px;
  position: relative;
  background-color: var(--text-color);
}
.date-mini .arrow:before, .date-mini .arrow:after {
  content: "";
  background: var(--text-color);
  position: absolute;
  height: 1px;
  width: 4px;
}
.date-mini .arrow:before {
  right: -1px;
  bottom: -1px;
  transform: rotate(-35deg);
}
.date-mini .arrow:after {
  right: -1px;
  top: -1px;
  transform: rotate(35deg);
}

.date-mini div {
  text-align: right;
  font-family: "oswald";
}

.date {
  margin-right: 2rem;
  font-family: "Oswald";
  font-weight: 800;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
.date .first-line {
  display: flex;
  flex-direction: row;
  justify-content: end;
}
.date div {
  font-family: "Oswald";
  font-weight: 900;
  font-size: 2.2rem;
  text-align: right;
}
.date .arrow {
  height: 2px;
  width: 50px;
  align-self: center;
  margin: 15px;
  position: relative;
  background-color: var(--text-color);
}
.date .arrow:before, .date .arrow:after {
  content: "";
  background: var(--text-color);
  position: absolute;
  height: 2px;
  width: 6px;
}
.date .arrow:before {
  right: -1px;
  bottom: -1px;
  transform: rotate(-35deg);
}
.date .arrow:after {
  right: -1px;
  top: -1px;
  transform: rotate(35deg);
}

.img-container {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  width: 100%;
  min-height: 215px;
}

.checkerboard {
  background-image: linear-gradient(45deg, var(--text-color-secondary) 25%, transparent 25%), linear-gradient(135deg, var(--text-color-secondary) 25%, transparent 25%), linear-gradient(45deg, transparent 75%, var(--text-color-secondary) 75%), linear-gradient(135deg, transparent 75%, var(--text-color-secondary) 75%);
  background-size: 16px 16px;
  background-position: 0 0, 8px 0, 8px 8px, 0px 8px;
  height: 16px;
  width: 100%;
}

main {
  max-width: 1100px;
  margin: auto;
  padding: 0px 10px;
}
main .main-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
main .main-container .main-content {
  max-width: 70%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
main aside {
  display: flex;
  flex-direction: column;
  align-items: end;
}
main aside h2 {
  font-family: "Impact";
  font-size: 20px;
  text-transform: uppercase;
  margin-top: 1rem;
}
main aside h3 {
  font-family: "Oswald";
  font-size: 1rem;
  text-transform: uppercase;
  margin-top: 2rem;
}
main aside p {
  font-family: "Oswald";
  font-size: 14px;
  margin-top: 0.5rem;
}
main aside .become-member {
  max-width: 175px;
}
main aside .programation {
  text-align: right;
}
main aside .price {
  text-align: right;
}

.safe-space {
  margin-top: 0.5rem;
  padding-top: 0.5rem;
  border-top: solid rgba(255, 255, 255, 0.67) 1px;
}/*# sourceMappingURL=event.css.map */