:root {
  --text-color: rgb(0, 0, 0);
  --text-color-secondary:white;
  --highlight-color: #FF877D;
  --highlight-color-transparent: #ff887dbd;
  --become-member:#FFD37E;
}

@font-face {
  font-family: "Impact";
  src: url("../assets/fonts/impact.ttf") format("truetype");
}
* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
  z-index: 2;
}

body {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  color: var(--text-color);
}

.background-lines {
  height: 100dvh;
  display: flex;
  flex-direction: column;
  background-size: cover;
  background-repeat: no-repeat;
}

main {
  margin-top: 30px;
  overflow: scroll;
  scrollbar-width: none;
}

footer {
  min-height: 10px;
}

a {
  color: var(--text-color);
  text-decoration: none;
}

p {
  white-space: pre-line;
}

.become-member {
  font-family: "Oswald";
  font-size: 1rem;
  line-height: 20px;
  text-transform: uppercase;
  text-align: center;
  padding: 0.5rem 2rem;
  background-color: #FFD37E;
}
.become-member:hover {
  background-color: var(--highlight-color);
  color: var(--text-color-secondary);
}
.become-member:hover.wip {
  background-color: var(--text-color);
}

.wip {
  text-decoration: line-through;
}

.mobile {
  display: none;
}

.title-section {
  max-width: 1100px;
  margin: auto;
  padding: 0px 10px;
}
.title-section .top-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.title-section .top-container .section-title {
  font-family: "Impact";
}
.title-section .top-container h1.section-title {
  font-size: 3rem;
}
.title-section .top-container h2.section-title {
  font-size: 2rem;
}
.title-section .line {
  background-image: linear-gradient(45deg, var(--text-color) 25%, transparent 25%), linear-gradient(135deg, var(--text-color) 25%, transparent 25%), linear-gradient(45deg, transparent 75%, var(--text-color) 75%), linear-gradient(135deg, transparent 75%, var(--text-color) 75%);
  background-size: 16px 16px;
  background-position: 0 0, 8px 0, 8px 8px, 0px 8px;
  height: 16px;
  margin-top: 0.5rem;
}

.event {
  max-width: 1100px;
  margin: auto;
  padding: 0px 10px;
  display: flex;
  flex-direction: row;
  font-family: "Oswald";
  align-items: center;
  height: 120px;
  padding: 0px 10px;
}
.event .date-and-type {
  display: flex;
  align-items: center;
}
.event .date {
  width: 150px;
  font-size: 2rem;
  line-height: 1.8rem;
  font-weight: 700;
}
.event .type {
  width: 150px;
  text-align: center;
  margin: 0px 50px;
  font-size: 20px;
  text-transform: uppercase;
  background-color: var(--text-color);
  color: var(--text-color-secondary);
}
.event .name {
  font-size: 24px;
  line-height: 40px;
}

.date-mini .first-line {
  display: flex;
  flex-direction: row;
  justify-content: end;
}
.date-mini .arrow {
  height: 1px;
  width: 30px;
  align-self: center;
  margin: 5px;
  position: relative;
  background-color: var(--text-color);
}
.date-mini .arrow:before, .date-mini .arrow:after {
  content: "";
  background: var(--text-color);
  position: absolute;
  height: 1px;
  width: 4px;
}
.date-mini .arrow:before {
  right: -1px;
  bottom: -1px;
  transform: rotate(-35deg);
}
.date-mini .arrow:after {
  right: -1px;
  top: -1px;
  transform: rotate(35deg);
}

.date-mini div {
  text-align: right;
  font-family: "oswald";
}

.date {
  margin-right: 2rem;
  font-family: "Oswald";
  font-weight: 800;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
.date .first-line {
  display: flex;
  flex-direction: row;
  justify-content: end;
}
.date div {
  font-family: "Oswald";
  font-weight: 900;
  font-size: 2.2rem;
  text-align: right;
}
.date .arrow {
  height: 2px;
  width: 50px;
  align-self: center;
  margin: 15px;
  position: relative;
  background-color: var(--text-color);
}
.date .arrow:before, .date .arrow:after {
  content: "";
  background: var(--text-color);
  position: absolute;
  height: 2px;
  width: 6px;
}
.date .arrow:before {
  right: -1px;
  bottom: -1px;
  transform: rotate(-35deg);
}
.date .arrow:after {
  right: -1px;
  top: -1px;
  transform: rotate(35deg);
}

@media (max-width: 768px) {
  .mobile {
    display: block;
  }
  .desktop {
    display: none;
  }
  .event .date-and-type {
    flex-direction: column-reverse;
    margin-right: 20px;
    gap: 5px;
  }
  .event .date-and-type div {
    width: 100px;
    margin: 0px 0px;
  }
  .event .date-and-type .date .arrow {
    margin-left: 5px;
  }
  .event .date-and-type .date div {
    font-size: 20px;
    line-height: 18px;
  }
}
.videowrapper {
  float: none;
  clear: both;
  width: 100%;
  position: relative;
  padding-bottom: 56.25%;
  padding-top: 25px;
  height: 0;
}
.videowrapper iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

body {
  background-image: url("../assets/background/residencies.png");
}

.background-lines {
  background-image: url("../assets/background/line-residencies.svg");
}

.residencies-list {
  overflow: scroll;
  scrollbar-width: none;
  max-width: 1100px;
  margin: auto;
  padding: 0px 10px;
}
.residencies-list .wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  margin: 0 auto;
}
@media (max-width: 1079px) and (min-width: 810px) {
  .residencies-list .wrapper {
    max-width: 810px;
  }
}
@media (max-width: 809px) and (min-width: 540px) {
  .residencies-list .wrapper {
    max-width: 540px;
  }
}
@media (max-width: 539px) {
  .residencies-list .wrapper {
    max-width: 270px;
  }
}

.filter-section {
  display: flex;
  justify-content: center;
  margin: 25px 0px;
  padding: 0px 10px;
}
.filter-section .cross {
  font-family: "impact";
  align-items: center;
  padding: 5px;
  background-color: var(--text-color);
  color: var(--text-color-secondary);
  display: none;
}
.filter-section .cross:hover {
  background-color: var(--highlight-color);
  cursor: pointer;
  color: var(--text-color-secondary);
}
.filter-section .filter-btn {
  height: 30px;
  max-width: 136px;
  flex-grow: 1;
  text-align: center;
  font-family: "Oswald";
  line-height: 30px;
  text-transform: uppercase;
}
.filter-section .selected {
  background-color: var(--become-member);
}
.filter-section .unselected {
  background-color: var(--text-color-secondary);
}
.filter-section .filter-btn:hover {
  background-color: var(--become-member);
  cursor: pointer;
  color: var(--text-color-secondary);
}

.residency {
  width: 260px;
  height: 300px;
  margin: 5px;
  padding-top: 10px;
  background-color: var(--text-color-secondary);
  align-items: center;
  display: inline;
}
.residency .img-container {
  width: 220px;
  height: 220px;
  margin: auto;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.residency .checkerboard {
  background-image: linear-gradient(45deg, var(--text-color-secondary) 25%, transparent 25%), linear-gradient(135deg, var(--text-color-secondary) 25%, transparent 25%), linear-gradient(45deg, transparent 75%, var(--text-color-secondary) 75%), linear-gradient(135deg, transparent 75%, var(--text-color-secondary) 75%);
  background-size: 8px 8px;
  background-position: 0 0, 4px 0, 4px 4px, 0px 4px;
  width: 220px;
  height: 8px;
}
.residency .text-container {
  padding: 5px 10px 0px 10px;
  display: flex;
}
.residency .text-container .titles {
  flex-grow: 1;
}
.residency .text-container .titles h2 {
  font-family: "Impact";
  font-weight: 600;
  font-size: 1.2rem;
}
.residency .text-container .titles h3 {
  font-family: "Oswald";
  font-weight: 400;
  font-size: 1rem;
}/*# sourceMappingURL=residencies.css.map */