<!DOCTYPE html>
<html lang="en">
  <%- include("./partials/head.ejs")%>
  <body>
    <%- include('./partials/header.ejs') %>
    
    <div class="container"><h1>404</h1></div>
    <p>Page not found</p>
    <a href="/">Back to the website</a>
    <img src="img/white_koi.png" alt="white koi">
  </body>
</html>
