<!DOCTYPE html>
<html lang="en">
    <%- include("./partials/head.ejs")%>
    <body>
      <%- include('./partials/header.ejs') %>
      <h1>Current</h1>
      <h1>Coming</h1>
      <h1>Past</h1>
      <h1>SHOW ALL</h1>
</body>
</html>