<!DOCTYPE html>
<html lang="en">
  <%- include("./partials/head.ejs")%>
  <body class="love-art agenda">
    <%- include('./partials/header.ejs') %>

    <h1>Current</h1>
    <table>
      <thead>
        <tr>
          <th>Name</th>
          <th>Date</th>
          <th>Action</th>
        </tr>
      </thead>
      <tbody>
        <% if (events.length > 0) { %> <% events.forEach(event => { %>
        <tr>
          <td><%= event.name %></td>
          <td><%= event.date %></td>
          <td><button>Modifier</button><button>Supprimer</button></td>
        </tr>
        <% }); %> <% } else { %>
        <tr>
          <td colspan="2">No events available</td>
        </tr>
        <% } %>
      </tbody>
    </table>
    <h1>Coming</h1>
    <h1>Past</h1>
    <h1>SHOW ALL</h1>
  </body>
</html>
