<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Agenda</title>
</head>
<body>
    <nav>
        <a href="/">home</a>
        <a href="admin">admin</a>
        <a href="agenda">agenda</a>
        <a href="become-member">become a member</a>
        <a href="contact">contact</a>
        <a href="explore">explore</a>
        <a href="koi-residency">koy residency</a>
        <a href="vaisseau-mere">vaisseau mere</a>
      </nav>
      <h1>Current</h1>
      <h1>Coming</h1>
      <h1>Past</h1>
      <h1>SHOW ALL</h1>
</body>
</html>