<!DOCTYPE html>
<html lang="en">
    <%- include("./partials/head.ejs")%>
    
    <body class = "love-art">

      <%- include('./partials/header.ejs') %>
    <nav>
        <a href="/">home</a>
        <a href="admin">admin</a>
        <a href="agenda">agenda</a>
        <a href="become-member">become a member</a>
        <a href="contact">contact</a>
        <a href="explore">explore</a>
        <a href="koi-residency">koy residency</a>
        <a href="vaisseau-mere">vaisseau mere</a>
      </nav>
      <button>DONATE</button>
</body>
</html>