<!DOCTYPE html>
<html lang="en">
    <%- include("./partials/head.ejs")%>
    <body class = "love-art contact">
      <%- include('./partials/header.ejs') %>
      <p>This is the contact page</p>
</body>
</html>