<!DOCTYPE html>
<html lang="en">
    <%- include("./partials/head.ejs")%>
    <body class = "make-art">
      <%- include('./partials/header.ejs') %>
      <h1>residency</h1>
      <h1>artists</h1>
      <h1>history</h1>
      <h1>space rental</h1>
</body>
</html>