<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login Page</title>
    <link rel="stylesheet" href="css/login.css">
</head>
<body>
    <div class="container">
        <form action="/admin/" method="POST" enctype="multipart/form-data">
            <h2>Login</h2>
          
            <label for="collective_name">Username</label>
            <input type="text" id="collective_name" name="collective_name" required />
          
            <label for="residency_name">Password</label>
            <input type="password" id="residency_name" name="residency_name" required />
          
            <button>Connexion</button>
          </form>
    </div>
</body>
</html>