<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include("./partials/head.ejs")%>

    <title>vaisseau mère</title>
  </head>
  <body>

    <%- include('./partials/header.ejs') %>
      <h1>Projects</h1>
      <h1>Actions</h1>
      <h1>Team</h1>
      <h1>Membership</h1>
      <h1>Services</h1>
</body>
</html>