<header>
    <nav>
        <div class="left nav-container">
            <a class="nav-btn make-art"href="koi-residency">koy residency</a>
            <a class="nav-btn make-art wip"href="wip">history</a>
            <a class="nav-btn love-art"href="/agenda">agenda</a>
            <a class="nav-btn love-art"href="become-member">become a member</a>
            <a class="nav-btn love-art wip"href="wip">project</a>
        </div>

        <a class="nav-btn home-btn" href="/"><img src="/assets/logoblack.svg" alt="logo"></a>
        
        <div class="right nav-container">
            <a class="nav-btn make-art wip"href="underconstruction">what we offer</a>
            <a class="nav-btn make-art wip"href="wip">space rental</a>
            <a class="nav-btn love-art wip"href="wip">what we do</a>
            <a class="nav-btn love-art wip"href="wip">team</a>
            <a class="nav-btn love-art wip"href="contact">contact</a>
        </div>
        
      </nav>

      <div class="switch-container">
        <div class="label">love <span>art</span></div>
        <label class="switch">
            <input type="checkbox">
            <span class="slider round"></span>
        </label>
        <div class="label">make <span>art</span></div>
      </div>

</header>


  