<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Admin</title>
    <link rel="stylesheet" href="css/admin.css" />

    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Inconsolata:wght@200..900&display=swap" rel="stylesheet" />
  </head>
  <body>
    <img src="img/white_koi.png" alt="white koi" />
    <div class="container-title">
      <h1>CONTENTS MANAGER</h1>
    </div>
    <hr />

    <div class="primary-title">
      <h2>PAGES</h2>

      <a href="/admin/index-content">Home</a>
      <a href="/admin/agenda-content">Agenda</a>
      <a href="/admin/member-content">Become a member</a>
      <a href="/admin/contact-content">Contact</a>
      <a href="/admin/explore-content">Explore</a>
      <a href="/admin/koi-content">Koy residency</a>
      <a href="/admin/vaisseau-content">Vaisseau Mère</a>

      <h2>ARTISTS</h2>

      <a href="/admin/artists-list">Liste des artistes</a>
      <a href="/admin/artists-add">Créer un artiste</a>

      <h2>EVENTS</h2>

      <a href="/admin/events-list">Liste des events</a>
      <a href="/admin/events-add">Créer un event</a>
    </div>
    <div class="container-display">
      <section class="content"><% if (content) { %> <%- include(content) %> <% } %></section>
    </div>
  </body>
</html>
