<!DOCTYPE html>
<html lang="en">
  <%- include("./partials/head.ejs")%>
  <body>

    <%- include('./partials/header.ejs') %>
    
    <h1>Artist page</h1>
  <p>Nom: <br><span><%=events.event_name %></span></p>
  <p>Nom: <br><span><%=safe_place.text %></span></p>

</body>
</html>