<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include("./partials/head.ejs")%>

    <title>explore</title>
  </head>
    <body>
      <%- include('./partials/header.ejs') %>
      <p>This is the explore page</p>
</body>
</html>