<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login Page</title>
    <link rel="stylesheet" href="css/login.css">
</head>
<body>
    <div class="container">
        <form action="/auth/login" method="POST">
            <h2>Login</h2>
          
            <label for="username">Username</label>
            <input type="text" id="username" name="username" required />
          
            <label for="password">Password</label>
            <input type="password" id="password" name="password" required />
          
            <button>Connexion</button>
          </form>
    </div>
</body>
</html>