<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Logout</title>
    <link rel="stylesheet" href="css/logout.css" /> 
  </head>
  <body>    
    <div class="container"><h1>You were logout !</h1></div>
    <p>Left corner to comeback to website</p>
    <a href="/">Back to the website</a>
    <img src="img/white_koi.png" alt="white koi">
  </body>
</html>
